<h1>Edit $category.getName()</h1>


<form action="/update_categories/$category.getId()" method="post">
  <label for="name">Edit Category name</label>
  <input id="name" name="name" type="text">



  <button type="submit" class="btn btn-success">Edit Category</button>
</form>
